body {
    background-image: url("../Dateien/14421.png");
    background-position: center;
    background-repeat: round;
    font-family: sans-serif;
}
.glass {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-image:
            linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 20px 20px;

    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    max-width: 1200px;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.center-wrapper .links {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
}

.center-wrapper .rechts {
    display: flex;
    justify-content: right;
    margin-top: 1rem;
}

.row-mapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 2rem;
}

.links {
  flex: 1.75;
}

.rechts {
    flex: 2.25;
}

.bild {
    display: block;
    margin: 0 auto;
}

.glass h1,
.glass h2,
.glass p {
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-top: 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    justify-content: center;
    list-style: none;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.connector {
    position: absolute;
    top: 1440px;
    left: 450px;
    width: 60%;
    height: 100%;
    pointer-events: none;
}

.zweitetech {
    padding-top: 5rem;
}

.zweitetech > .rechts  {
    flex: 1.75;
}

.zweitetech > .links {
    flex: 2.25;
}

.footer span {
    color: white !important;
}

h3 {
    color: white !important;
    font-size: 1.5rem;
}

.p-5 {
    color: white;
}

.projects {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 2rem;
}

.projects .linki {
    grid-column: 1;
    color: white;
    justify-self: start;
}

.projects .rechti {
    grid-column: 2;
    justify-self: end;
    color: white;
}

.projects-row.mitte-flex {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 2rem;
}

.projects-row.mitte-flex > .linki.dos.mitte {
    color: whitesmoke;
}

.projects-row.mitte-flex > .rechti.dos.mitte {
    color: whitesmoke;
}

.py-6 h1,
.py-6 p {
    color: white;
}

.p-5 .rechts img {
    color: white;
}

.elementi {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* zentriert vertikal */
    align-items: center;     /* zentriert horizontal */
    height: 100%;            /* falls nötig: Höhe anpassen */
    padding: 1rem;
}

.elementi h3 {
    align-self: flex-start;  /* h3 oben links */
    margin-bottom: auto;     /* schiebt Bild nach unten */
}





