<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="/css/3d.css" rel="stylesheet">
    <script src="/javascript/main.js" defer></script>
</head>
<body>
<div class="containers reveal">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/technical" class="nav-link active hover-effect-5" aria-current="page">Tech-Portfolio</a></li>
            <li class="nav-item"><a href="about" class="nav-link">About</a></li>
        </ul>
    </header>
</div>


<div class="center-wrapper reveal">
    <div class="p-5 glass">

        <div class="language-flags d-flex justify-content-center align-items-center gap-3">
            <img src="/Dateien/ger2.png" alt="Deutsch" class="lang-flag" data-lang="de">
            <img src="/Dateien/eng2.png" alt="English" class="lang-flag" data-lang="en">
            <img src="/Dateien/fr2.png" alt="Français" class="lang-flag" data-lang="fr">
        </div>

        <div class="container-fluid py-5">

            <img src="/Dateien/facelogo.png" class="bild" alt="Gesicht" height="200px">
            <h1 class="display-5 fw-bold" data-i18n="stackPage.headline">3D-Stack</h1>
            <h2 class="display-7 fw-bold" data-i18n="stackPage.programsTitle">Programme</h2>
            <ul>
                <li class="top-skill">
                    <img src="../Dateien/3dlogo/blender.png" alt="Skill" height="125px">
                    <p>
                        Blender
                    </p>
                </li>

                <li class="skill">
                    <img src="../Dateien/3dlogo/cinema.png" alt="Skill" height="125px">
                    <p>
                        Cinema 4D
                    </p>
                </li>

                <li class="skill">
                    <img src="../Dateien/3dlogo/marv.png" alt="Skill" height="125px">
                    <p>
                        Marvelous Designer
                    </p>
                </li>
            </ul>
            <h2 class="display-7 fw-bold">Creative Design-Tools</h2>
            <ul>
                <li class="skill">
                    <img src="../Dateien/3dlogo/photo.png" alt="Skill" height="125px">
                    <p>
                        Photoshop
                    </p>
                </li>

                <li class="top-skill">
                    <img src="../Dateien/3dlogo/premiere.png" alt="Skill" height="125px">
                    <p>
                        Premiere Pro
                    </p>
                </li>

                <li class="top-skill">
                    <img src="../Dateien/3dlogo/after.png" alt="Skill" height="125px">
                    <p>
                        After Effects
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row-mapper zweitetech">
    <div class="p-5 glass links zweite reveal rechtsalign">
        <h3 data-i18n="stackPage.section1.headline">
            Durch kontinuierliches Selbststudium entwickelt
        </h3>

        <p data-i18n="stackPage.section1.paragraph1">
        Auf der Suche nach einem kreativen Gegenpol zu meiner analytischen Seite entdeckte ich über mein Interesse an <span class="highlight">Studio Ghibli</span> die Software <span class="highlight">Blender</span>.
        </p>
        <p data-i18n="stackPage.section1.paragraph2">
        Die Kombination aus <span class="highlight">Technik</span> und <span class="highlight">Ästhetik</span> faszinierte mich sofort – besonders <span class="highlight">prozedurale Texturen</span>, <span class="highlight">physikbasiertes Shading</span> und der <span class="highlight">Aufbau realistischer Szenen</span> durch gezielte <span class="highlight">Lichtführung</span> und <span class="highlight">Kamerakomposition</span>.
        </p>
        <p data-i18n="stackPage.section1.paragraph3">
        Mithilfe von <span class="highlight">Online-Kursen</span>, <span class="highlight">Tutorials</span> und praktischen Projekten entwickelte ich ein tiefes Verständnis für <span class="highlight">3D-Visualisierung</span> mit gestalterischer Präzision.
        </p>
    </div>
    <div class="p-5 glass rechts zweite reveal">
        <h3 data-i18n="stackPage.section2.headline">
            Youtube-Videos / Webkurse:
        </h3>
        <p data-i18n="stackPage.section2.paragraph1">
        Fokus auf <span class="highlight">photorealistisches Rendering</span>, <span class="highlight">Shader-Workflows</span>, <span class="highlight">Cinematic Camera Movement</span> und <span class="highlight">prozedurale Materialsysteme</span> – von der <span class="highlight">Konzeptphase</span> bis zum <span class="highlight">finalen Render</span>.
        </p>
        <hr>
        <p data-i18n="stackPage.section2.paragraph2">
        Vertiefung in <span class="highlight">Motion Design</span>, <span class="highlight">Produktvisualisierung</span>, <span class="highlight">Redshift</span> und <span class="highlight">stilisierten Animationen</span> für <span class="highlight">markenorientierte 3D-Projekte</span>.
        </p>
        <hr>
        <p data-i18n="stackPage.section2.paragraph3">
        <span class="highlight">Cloth Simulation</span> auf Basis <span class="highlight">physikalisch korrekter Stoffeigenschaften</span>, <span class="highlight">pattern-basiertes Tailoring</span> und realistische <span class="highlight">Fashion-Visuals</span> mit hohem Detailgrad.
        </p>
    </div>
</div>

    <div class="projects-container">
        <div class="p-5 glass reveal coni rechtsalign">
            <h3 data-i18n="stackPage.projects.project1.title">
                Projekt 1: Product Modelling Series
            </h3>
            <hr>
            <p data-i18n="stackPage.projects.project1.paragraph1">
            Erstellung hochwertiger <span class="highlight">3D-Visuals</span> zur gezielten <span class="highlight">Markenkommunikation</span> und <span class="highlight">Umsetzung individueller Kundenanforderungen</span>.
            </p>
            <hr>
            <p data-i18n="stackPage.projects.project1.paragraph2">
            Einsatz von <span class="highlight">Overlaying-Texturen</span>, <span class="highlight">Compositing</span> und Blenders internem <span class="highlight">Post-Processing</span> zur gezielten Steuerung von <span class="highlight">Bildwirkung</span> und <span class="highlight">Materialtiefe</span>.
            </p>
            <hr>
            <p data-i18n="stackPage.projects.project1.description">
            Hier gehts zum Projekt
            </p>
            <a href="/project13d" class="btn btn-primary hover-effect-5" role="button" data-i18n="stackPage.projects.project1.button">Projektlink</a>

            <div class="available-badge">
                <span class="status-dot2"></span>
                <span class="status-text">Online!</span>
            </div>
        </div>



        <div class="p-5 glass reveal coni rechtsalign">
            <h3 data-i18n="stackPage.projects.project2.title">
                Projekt 2: Blenderlifehacks
            </h3>
            <hr>
            <p data-i18n="stackPage.projects.project2.paragraph1">
            Entwicklung einer <span class="highlight">visuellen Content-Identität</span> durch gezieltes <span class="highlight">Storytelling</span>, klare <span class="highlight">Designsprache</span> und stringente <span class="highlight">Bildkomposition</span> – abgestimmt auf die <span class="highlight">visuelle Kultur</span> der Plattform.
            </p>
            <hr>
            <p data-i18n="stackPage.projects.project2.paragraph2">
            Umsetzung von <span class="highlight">A/B-Testing</span>, <span class="highlight">Post-Timings</span> und gezielten <span class="highlight">Format-Varianten</span> zur Maximierung von <span class="highlight">KPI-Zielen</span> und organischer <span class="highlight">Plattform-Reichweite</span>.
            </p>
            <hr>
            <p data-i18n="stackPage.projects.project2.description">
            Hier gehts zum Projekt
            </p>
            <a href="/project23d" class="btn btn-primary hover-effect-5" role="button" data-i18n="stackPage.projects.project2.button1">Projektlink</a>
            <a href="https://www.instagram.com/blenderlifehacks/" class="btn btn-info" role="button">Instagram-Link</a>


            <div class="available-badge">
                <span class="status-dot2"></span>
                <span class="status-text">Online!</span>
            </div>
        </div>

        <div class="p-5 glass reveal coni rechtsalign">
            <h3 data-i18n="stackPage.projects.project3.title">Projekt 3: 3D Brand-Projekte</h3>
            <hr>
            <p data-i18n="stackPage.projects.project3.paragraph1">
            Erstellung hochwertiger <span class="highlight">3D-Visuals</span> zur gezielten <span class="highlight">Kommunikation von Markenbotschaften</span> und zur <span class="highlight">Erfüllung individueller Kundenanforderungen</span>.
            </p>
            <hr>
            <p data-i18n="stackPage.projects.project3.paragraph2">
            Kombination aus <span class="highlight">kundenzentrierter Kommunikation</span> und <span class="highlight">Visual Storytelling</span> zur Entwicklung <span class="highlight">ästhetisch</span> und <span class="highlight">strategisch wirksamer Designs</span>.
            </p>
            <hr>
            <p data-i18n="stackPage.projects.project3.description">
            Hier gehts zum Projekt
            </p>

            <a href="/project33d" class="btn btn-primary hover-effect-5" role="button" data-i18n="stackPage.projects.project3.button">Projektlink</a>


            <div class="available-badge">
                <span class="status-dot2"></span>
                <span class="status-text">Online!</span>
            </div>
        </div>
    </div>

<div class="center-wrapper reveal">
    <div class="p-6 glass">
        <div class="container-fluid py-6">
            <h1 data-i18n="stackPage.future.headline">
                Jetzt
            </h1>

            <p data-i18n="stackPage.future.paragraph1">
                In Zukunft möchte ich meine <span class="highlight">3D-Visuals</span> gezielt in <span class="highlight">Kundenprojekten</span> einsetzen – mit Fokus auf die <span class="highlight">Schnittstelle zwischen CGI und Realfilm</span>.
            </p>

            <p data-i18n="stackPage.future.paragraph2">
                Besonders interessiert mich die Kombination von <span class="highlight">Blender</span> mit <span class="highlight">Motion Tracking</span> und <span class="highlight">Compositing-Tools</span> wie <span class="highlight">After Effects</span>, um reale Aufnahmen mit 3D-Elementen zu verschmelzen und <span class="highlight">immersive Visuals</span> zu erzeugen.
            </p>

            <br>

            <p data-i18n="stackPage.future.paragraph3">
                Gleichzeitig verfolge ich einen starken <span class="highlight">Wissensvermittlungsansatz</span> über <span class="highlight">Instagram</span> – mit dem Ziel, komplexe Themen wie <span class="highlight">Simulation</span>, <span class="highlight">Partikeleffekte</span> oder <span class="highlight">prozedurale Systeme</span> in Blender <span class="highlight">zugänglich</span> und <span class="highlight">verständlich</span> zu machen.
            </p>

            <p data-i18n="stackPage.future.paragraph4">
                Mein Ziel: <span class="highlight">Technisches Wissen</span> so aufzubereiten, dass es <span class="highlight">praktisch anwendbar</span> ist – für Einsteiger wie für Profis.
            </p>
        </div>
    </div>
</div>

<div class="container footer reveal">
    <footer class="d-flex justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">Robert Andreas Ionescu © 2025. All rights reserved </span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Instagram">
                    <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#instagram"></use></svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Facebook">
                    <svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg>
                </a>
            </li>
        </ul>
    </footer>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>