<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="../css/main.css" rel="stylesheet">
    <script src="../javascript/main.js" defer></script>
</head>
<body>
<div class="container fade-container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Robert Ionescu</span>
        </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-threads" viewBox="0 0 16 16">
                        <path d="M6.321 6.016c-.27-.18-1.166-.802-1.166-.802.756-1.081 1.753-1.502 3.132-1.502.975 0 1.803.327 2.394.948s.928 1.509 1.005 2.644q.492.207.905.484c1.109.745 1.719 1.86 1.719 3.137 0 2.716-2.226 5.075-6.256 5.075C4.594 16 1 13.987 1 7.994 1 2.034 4.482 0 8.044 0 9.69 0 13.55.243 15 5.036l-1.36.353C12.516 1.974 10.163 1.43 8.006 1.43c-3.565 0-5.582 2.171-5.582 6.79 0 4.143 2.254 6.343 5.63 6.343 2.777 0 4.847-1.443 4.847-3.556 0-1.438-1.208-2.127-1.27-2.127-.236 1.234-.868 3.31-3.644 3.31-1.618 0-3.013-1.118-3.013-2.582 0-2.09 1.984-2.847 3.55-2.847.586 0 1.294.04 1.663.114 0-.637-.54-1.728-1.9-1.728-1.25 0-1.566.405-1.967.868ZM8.716 8.19c-2.04 0-2.304.87-2.304 1.416 0 .878 1.043 1.168 1.6 1.168 1.02 0 2.067-.282 2.232-2.423a6.2 6.2 0 0 0-1.528-.161"/>
                    </svg>
                </li>
            </ul>
    </header>
</div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">

            <p class="display-4 text-body-emphasis">
                Robert Ionescu's Portfolio
            </p>
            <p class="lead">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411"/>
                </svg>
                <span>
                    Current Location: Germany -
                </span>
                <span id="clock" class="live-clock">
                </span>
                <span>
                    (+2 UTC)
                </span>
            </p>

            <h1 class="display-5 fw-bold glow-text" data-text="Software Developer & CGI Generalist">

                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>

                Software Developer & CGI Generalist
            </h1>

            <p class="lead">
                Coding with

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                </svg>

                , improving 1% daily!
            </p>

        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
            <img class="rounded-lg-3" src="../Dateien/facelogo.png" alt="" width="400px">
        </div>
    </div>
</div>

<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img">
                <title>Bootstrap</title>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path>
            </svg>
        </a>
    </header>

    <img src="../Dateien/openbook.png" class="bild-overlay buch" alt="Bild eines Gehirns" height="400px" width="400px">

    <div class="p-5 glass">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">My Story</h1>
            <p class="col-md-8 fs-4">Schon immer fasziniert davon, wie Dinge funktionieren, habe ich früh begonnen, mein Wissen in IT und 3D-Design systematisch auszubauen. Während ich IT an der Universität vertieft habe, eignete ich mir 3D-Design autodidaktisch an – mit Kursen, Tutorials und viel Praxis. Für mich ergänzen sich kreative und logische Fähigkeiten ideal. Ich strebe danach, Systeme nicht nur zu nutzen, sondern zu verstehen – mit dem Ziel, in einer zunehmend digitalen und KI-geprägten Welt aktiv mitzugestalten.</p>

            <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
        </div>
    </div>

    <img src="../Dateien/brain2.png" class="bild-overlay brain" alt="Bild eines Gehirns" height="400px" width="400px">

    <div class="row align-items-md-stretch">

        <div class="col-md-6">
            <div class="h-100 p-5 glass rounded-3 creative">
                <h2>Logische Seite</h2>
                <p>IT ist für mich das Fundament der Zukunft. Automatisierung und KI verändern Arbeitsprozesse und erweitern unser Potenzial. Ich sehe Technologie als Ergänzung menschlicher Fähigkeiten. Mein Fokus liegt auf objektorientierter Softwareentwicklung mit Java, C und Python sowie modernen Frameworks wie Spring, React und Angular. Mich treibt an, die Prinzipien hinter Technologien zu verstehen und die digitale Zukunft aktiv mitzugestalten.</p>
                <a href="/technical" class="btn btn-outline-light" role="button">Tech-Portfolio & Projekte</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="h-100 p-5 glass rounded-3">
                <h2>Kreative Seite</h2>
                <p>3D-Design ist mein kreativer Spielraum. Inspiriert von Ghibli und digitalen Welten begann ich mit Blender – und vertiefte mein Wissen in Tools wie Cinema 4D und Marvelous Designer. Besonders begeistert mich die Schnittstelle von Technik und Gestaltung: prozedurale Texturen, präzises Modelling, systemisches Denken im kreativen Prozess. Social Media nutze ich, um Fortschritte sichtbar zu machen und meinen Stil weiterzuentwickeln.</p>
                <a href="/3d" class="btn btn-outline-light" role="button">3D-Portfolio & Projekte</a>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">Robert Andreas Ionescu © 2025. All rights reserved </span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-body-secondary" href="#" aria-label="Instagram">
                <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#instagram"></use></svg>
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#" aria-label="Facebook">
                <svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg>
            </a>
        </li>
        </ul>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>