<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="../../css/projects.css" rel="stylesheet">
    <script src="../../javascript/main.js" defer></script>
</head>
<body>
<div class="containers">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/3d" class="nav-link active">3D-Portfolio</a></li>
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Main</a></li>
            <li class="nav-item"><a href="/technical" class="nav-link active">Tech-Portfolio</a></li>
        </ul>
    </header>
</div>


<div class="center-wrapper">
    <div class="p-5 glass">
        <div class="container-fluid py-5">
            <img src="../../Dateien/facelogo.png" class="bild" alt="Gesicht" height="200px">
            <h1 class="display-5 fw-bold">Project 3: REST-Api mit Spring Boot</h1>


            <div class="row-mapper">
                <div class="p-5 glass links">

                </div>
                <div class="p-5 glass rechts">

                </div>
            </div>

            <div class="row-mapper zweitetech">
                <div class="p-5 glass links zweite">

                </div>
                <div class="p-5 glass rechts zweite">

                </div>
            </div>

        </div>
    </div>
</div>


<div class="container footer">
    <footer class="d-flex justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">Robert Andreas Ionescu © 2025. All rights reserved </span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Instagram">
                    <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#instagram"></use></svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Facebook">
                    <svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg>
                </a>
            </li>
        </ul>
    </footer>
</div>


</body>
</html>