<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technical</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="/css/technical.css" rel="stylesheet">
    <script src="/javascript/main.js" defer></script>
</head>
<body>
    <div class="containers">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/3d" class="nav-link active" aria-current="page">3D-Portfolio</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>


    <div class="center-wrapper">
        <div class="p-5 glass">
            <div class="container-fluid py-5">
                <img src="/Dateien/facelogo.png" class="bild" alt="Gesicht" height="200px">
                <h1 class="display-5 fw-bold">Techstack</h1>

                <div class="category-box">
                    <h2 class="display-7 fw-bold">Programmiersprachen</h2>
                        <ul>
                            <li class="skill">
                                <img src="../Dateien/techlogos/java.png" alt="Skill" height="125px">
                                    <p>
                                        Java
                                    </p>
                            </li>

                            <li class="skill">
                                <img src="../Dateien/techlogos/cplus.png" alt="Skill" height="125px">
                                <p>
                                    C / C++
                                </p>
                            </li>

                            <li class="skill">
                                <img src="../Dateien/techlogos/python.png" alt="Skill" height="125px">
                                <p>
                                    Python
                                </p>
                            </li>

                            <li class="skill">
                                <img src="../Dateien/techlogos/postgresql.png" alt="Skill" height="125px">
                                <p>
                                    PostgreSQL
                                </p>
                            </li>

                            <li class="skill">
                                <img src="../Dateien/techlogos/css.png" alt="Skill" height="125px">
                                <p>
                                    CSS
                                </p>
                            </li>

                            <li class="skill">
                                <img src="../Dateien/techlogos/html.png" alt="Skill" height="125px">
                                <p>
                                    HTML
                                </p>
                            </li>

                            <li class="skill">
                                <img src="../Dateien/techlogos/javascript.png" alt="Skill" height="125px">
                                <p>
                                    JavaScript
                                </p>
                            </li>
                        </ul>
                </div>

                <div class="category-box">
                    <h2 class="display-7 fw-bold">Frameworks&Libraries</h2>
                        <ul>
                                <li class="skill">
                                    <img src="../Dateien/techlogos/react.png" alt="Skill" height="125px">
                                    <p>
                                        React
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/angularneu.png" alt="Skill" height="125px">
                                    <p>
                                        Angular
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/spring.png" alt="Skill" height="125px">
                                    <p>
                                        Spring(-Boot)
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/numpy.png" alt="Skill" height="125px">
                                    <p>
                                        Numpy / Pandas
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/tensorflow.png" alt="Skill" height="125px">
                                    <p>
                                        TensorFlow / PyTorch
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/junit.png" alt="Skill" height="125px">
                                    <p>
                                        JUnit / Mockito
                                    </p>
                                </li>
                        </ul>
                </div>

                <div class="category-box">
                    <h2 class="display-7 fw-bold">Tools&Plattformen</h2>
                        <ul>
                                <li class="skill">
                                    <img src="../Dateien/techlogos/githubneu.png" alt="Skill" height="125px">
                                    <p>
                                        Git / GitHub
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/docker.png" alt="Skill" height="125px">
                                    <p>
                                        Docker
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/restapineu.png" alt="Skill" height="125px">
                                    <p>
                                        REST-APIs
                                    </p>
                                </li>
                        </ul>
                </div>


            </div>
        </div>
    </div>

    <div class="row-mapper">
        <div class="p-5 glass links">
            <h3>
                gewählte Kurse:
            </h3>

            Programmierung I–III (Java, inklusive Webentwicklung) (2023-2024)
            <hr>
            Rechnerarchitektur und Computernetze (Computerarchitektur) (2023-2024)
            <hr>
            Datenbanksysteme, Programmierung in C sowie Grundlagen der Data Science (2023)
        </div>
        <div class="p-5 glass rechts">
            <h3>
                Heinrich Heine Universität Düsseldorf (2023-jetzt)
            </h3>
            An der Heinrich-Heine-Universität habe ich mein Java-Wissen gezielt durch moderne Frameworks und Tools erweitert.
            <br>
            <br>
            Dabei vertiefte ich mein Verständnis des Software-Lifecycles, löste Probleme eigenständig, dokumentierte sauber und arbeitete effektiv im Dev-Team – stets offen für Innovationen, Legacy Code und kontinuierliche Weiterentwicklung.
        </div>
    </div>

    <div class="row-mapper zweitetech">
        <div class="p-5 glass links zweite">
            <h3>
                Udemy autodidaktisch (2024-jetzt)
            </h3>
            Während meines Studiums reichte mir der reguläre Programmierunterricht nicht aus – ich wollte tiefer in die Welt der logischen Systeme eintauchen.
            <br>
            <br>
            Deshalb nutzte ich früh das Internet zur Weiterbildung, begann mit YouTube-Tutorials und absolvierte später gezielt hochwertige Udemy-Kurse von erfahrenen Entwicklern, um mein Wissen strukturiert und praxisnah zu vertiefen.

        </div>
        <div class="p-5 glass rechts zweite">
            <h3>
                erworbene Kurse:
            </h3>
            FullStack Web-Development (React, Angular, JS, HTML, CSS, Node, PostgreSQL, Web3, DApps)
            <hr>
            Python ML&DL (Numpy, Pandas, Matplotlib, PyTorch, Tensorflow)
            <hr>
            Data Structures&Algorithms, Linux System Concepts (Deeper Knowledge)
        </div>
    </div>

    <div class="row-mapper zweitetech projects">
        <div class="p-5 glass uno linki">
            <h3>
                Projekt 1: KI System bauen welches Daten analysieren kann (Python, Tensorflow, Pytorch)
            </h3>
            <hr>
            - Entwicklung robuster Daten-Pipelines und tiefes Verständnis komplexer Machine-Learning-Modelle zur Extraktion relevanter Muster aus großen, heterogenen Datensätzen.
            <hr>
            - Effiziente Nutzung von TensorFlow und PyTorch zur Implementierung, Optimierung und Validierung neuronaler Netze unter Berücksichtigung von Trainingszeit, Overfitting und Modellgeneralität.
            <hr>

            Hier gehts zum Projekt
            <a href="/project1tech" class="btn btn-outline-light" role="button">Programmierprozess</a>
            <button type="button" class="btn btn-secondary btn-sm">Github Repo</button>

        </div>
        <div class="p-5 glass uno rechti">
            <h3>
                Difficulty
            </h3>
        </div>
    </div>

    <div class="row-mapper projects-row mitte-flex">

        <div class="p-5 glass linki dos mitte elementi">
            <h3>
                Schwierigkeit:
            </h3>
            <img src="../Dateien/ratings/ratingwhite1.png" height="150px"  alt="zehn"/>
        </div>

        <div class="p-5 glass rechti dos mitte">
            <h3>
                Projekt 2: Personal Web-Portfolio (CSS, HTML, JavaScript, Typescript)
            </h3>
            <hr>
            - Technisch präzise Umsetzung eines modularen Frontends mit responsivem Design, component-based Architecture und konsistenter UI/UX-Strategie.
            <hr>
            - Tiefer Einstieg in TypeScript-Typisierung und strukturiertes State-Handling zur Gewährleistung von Wartbarkeit und Skalierbarkeit.
            <hr>

            Hier gehts zum Projekt
            <a href="/project2tech" class="btn btn-outline-light" role="button">Programmierprozess</a>
            <button type="button" class="btn btn-secondary btn-sm">Github Repo</button>

        </div>

    </div>

    <div class="row-mapper  projects ganzrechts">
        <div class="p-5 glass linki tres">
            <h3>
                Projekt 3: REST-API mit Spring Boot (Spring (-Boot), Java, JUnit, Rest)
            </h3>
            <hr>
            - Architektur einer REST-konformen API mit durchdachtem Domain-Modell, Exception-Handling und persistenter Datenanbindung via Spring Data JPA.
            <hr>
            - Testgetriebene Entwicklung mit JUnit und Integrationstests, um Stabilität, Fehlerresistenz und saubere Schnittstellen sicherzustellen.
            <hr>

            Hier gehts zum Projekt
            <a href="/project3tech" class="btn btn-outline-light" role="button">Programmierprozess</a>
            <button type="button" class="btn btn-secondary btn-sm">Github Repo</button>

        </div>

        <div class="p-5 glass rechti tres">
            <h3>
                Difficulty
            </h3>
        </div>
    </div>

    <div class="center-wrapper">
        <div class="p-6 glass">
            <div class="container-fluid py-6">
                <h1>
                    Jetzt
                </h1>

                <p>
                    In naher Zukunft plane ich, mich intensiv mit modernen Technologien und Programmiersprachen auseinanderzusetzen. Dazu gehören:
                    <br>
                    Rust: Fokus auf Speicher- und Thread-Sicherheit ohne Garbage Collector
                    <br>
                    Golang: Effiziente, leichtgewichtige Sprache für skalierbare Backend-Services
                    <br>
                    TypeScript: Superset von JavaScript mit statischer Typisierung für robusten und wartbaren Code
                    <br>
                    Darüber hinaus möchte ich mein Wissen im Cloud-Computing mit Azure und AWS vertiefen sowie Automatisierungsframeworks wie Selenium erlernen.

                </p>
            </div>
        </div>
    </div>

    <div class="container footer">
        <footer class="d-flex justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                    <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">Robert Andreas Ionescu © 2025. All rights reserved </span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-body-secondary" href="#" aria-label="Instagram">
                        <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#instagram"></use></svg>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-body-secondary" href="#" aria-label="Facebook">
                        <svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg>
                    </a>
                </li>
            </ul>
        </footer>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>