<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technical</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="/css/technical.css" rel="stylesheet">
    <script src="/javascript/main.js" defer></script>
</head>
<body>
    <div class="containers reveal">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/3d" class="nav-link active hover-effect-5" aria-current="page">3D-Portfolio</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            </ul>
        </header>
    </div>


    <div class="center-wrapper reveal">
        <div class="p-5 glass">

            <div class="language-flags d-flex justify-content-center align-items-center gap-3">
                <img src="/Dateien/ger2.png" alt="Deutsch" class="lang-flag" data-lang="de">
                <img src="/Dateien/eng2.png" alt="English" class="lang-flag" data-lang="en">
                <img src="/Dateien/fr2.png" alt="Français" class="lang-flag" data-lang="fr">
            </div>

            <div class="container-fluid py-5">
                <img src="/Dateien/facelogo.png" class="bild" alt="Gesicht" height="200px">
                <h1 class="display-5 fw-bold">Techstack</h1>

                <div class="category-box">
                    <h2 class="display-7 fw-bold" data-i18n="technicalPage.programmingLanguagesTitle">Programmiersprachen</h2>
                        <ul>
                            <li class="top-skill">
                                <img src="../Dateien/techlogos/java.png" alt="Skill" height="100px">
                                    <p>
                                        Java
                                    </p>
                            </li>

                            <li class="skill">
                                <img src="../Dateien/techlogos/cplus.png" alt="Skill" height="100px">
                                <p>
                                    C / C++
                                </p>
                            </li>

                            <li class="skill">
                                <img src="../Dateien/techlogos/python.png" alt="Skill" height="100px">
                                <p>
                                    Python
                                </p>
                            </li>

                            <li class="skill">
                                <img src="../Dateien/techlogos/postgresql.png" alt="Skill" height="100px">
                                <p>
                                    PostgreSQL
                                </p>
                            </li>

                            <li class="skill">
                                <img src="../Dateien/techlogos/css.png" alt="Skill" height="100px">
                                <p>
                                    CSS
                                </p>
                            </li>

                            <li class="top-skill">
                                <img src="../Dateien/techlogos/html.png" alt="Skill" height="100px">
                                <p>
                                    HTML
                                </p>
                            </li>

                            <li class="skill">
                                <img src="../Dateien/techlogos/javascript.png" alt="Skill" height="100px">
                                <p>
                                    JavaScript
                                </p>
                            </li>
                        </ul>
                </div>

                <div class="category-box">
                    <h2 class="display-7 fw-bold" data-i18n="technicalPage.frameworksTitle">Frameworks&Libraries</h2>
                        <ul>
                                <li class="top-skill">
                                    <img src="../Dateien/techlogos/react.png" alt="Skill" height="100px">
                                    <p>
                                        React
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/angularneu.png" alt="Skill" height="100px">
                                    <p>
                                        Angular
                                    </p>
                                </li>

                                <li class="top-skill">
                                    <img src="../Dateien/techlogos/spring.png" alt="Skill" height="100px">
                                    <p>
                                        Spring(-Boot)
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/numpy.png" alt="Skill" height="100px">
                                    <p>
                                        Numpy / Pandas
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/tensorflow.png" alt="Skill" height="100px">
                                    <p>
                                        TensorFlow / PyTorch
                                    </p>
                                </li>

                                <li class="top-skill">
                                    <img src="../Dateien/techlogos/junit.png" alt="Skill" height="100px">
                                    <p>
                                        JUnit / Mockito
                                    </p>
                                </li>
                        </ul>
                </div>

                <div class="category-box">
                    <h2 class="display-7 fw-bold" data-i18n="technicalPage.toolsTitle">Tools&Plattformen</h2>
                        <ul>
                                <li class="skill">
                                    <img src="../Dateien/techlogos/githubneu.png" alt="Skill" height="100px">
                                    <p>
                                        Git / GitHub
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/docker.png" alt="Skill" height="100px">
                                    <p>
                                        Docker
                                    </p>
                                </li>

                                <li class="skill">
                                    <img src="../Dateien/techlogos/restapineu.png" alt="Skill" height="100px">
                                    <p>
                                        REST-APIs
                                    </p>
                                </li>
                        </ul>
                </div>


            </div>
        </div>
    </div>

    <div class="row-mapper">
        <div class="p-5 glass links reveal">
            <h3 data-i18n="technicalPage.section1.headline1">
                gewählte Kurse:
            </h3>
            <p data-i18n="technicalPage.section1.content1">
            <span class="highlight">Programmierung I–III</span> (<span class="highlight">Java</span>, inklusive <span class="highlight">Webentwicklung</span>) (2023–2024)
            </p>
            <hr>
            <p data-i18n="technicalPage.section1.content2">
            <span class="highlight">Rechnerarchitektur</span> und <span class="highlight">Computernetze</span> (<span class="highlight">Computerarchitektur</span>) (2023–2024)
            </p>
            <hr>
            <p data-i18n="technicalPage.section1.content3">
            <span class="highlight">Datenbanksysteme</span>, <span class="highlight">Programmierung in C</span> sowie <span class="highlight">Grundlagen der Data Science</span> (2023)
            </p>
        </div>
        <div class="p-5 glass rechts reveal linksalign">
            <h3 data-i18n="technicalPage.section2.headline1">
                Heinrich Heine Universität Düsseldorf (2023-jetzt)
            </h3>
            <p data-i18n="technicalPage.section2.content1">
            An der <span class="highlight">Heinrich-Heine-Universität</span> erweiterte ich mein <span class="highlight">Java-Wissen</span> gezielt durch <span class="highlight">moderne Frameworks</span> und <span class="highlight">Tools</span>.
            </p>
            <p data-i18n="technicalPage.section2.content2">
            Ich vertiefte den <span class="highlight">Software-Lifecycle</span>, löste Probleme <span class="highlight">eigenständig</span>, dokumentierte <span class="highlight">nachvollziehbar</span> und arbeitete <span class="highlight">teamorientiert</span> – offen für <span class="highlight">Legacy Code</span>, <span class="highlight">Innovation</span> und <span class="highlight">kontinuierliche Weiterentwicklung</span>.
            </p>
        </div>
    </div>

    <div class="row-mapper zweitetech">
        <div class="p-5 glass links zweite reveal rechtsalign">
            <h3 data-i18n="technicalPage.section3.headline3">
                Udemy autodidaktisch (2024-jetzt)
            </h3>
            <p data-i18n="technicalPage.section3.content1">
            Neben dem Studium ging ich einen Schritt weiter: Ich suchte gezielt nach <span class="highlight">praxisnahen Lernformaten</span>.
            </p>

            <p data-i18n="technicalPage.section3.content2">
            Von <span class="highlight">YouTube-Tutorials</span> bis zu <span class="highlight">hochwertigen Udemy-Kursen</span> – ich vertiefte mein Wissen strukturiert, mit Fokus auf <span class="highlight">logisches Denken</span>, <span class="highlight">Systemverständnis</span> und echte <span class="highlight">Entwicklerpraxis</span>.
            </p>

            <p data-i18n="technicalPage.section3.content3">
            Das Gelernte setzte ich direkt in <span class="highlight">eigenen Projekten</span> um – von kleinen <span class="highlight">Web-Anwendungen</span> bis zu komplexeren <span class="highlight">Backend-Strukturen</span>.
            </p>

            <p data-i18n="technicalPage.section3.content4">
            Dabei übte ich <span class="highlight">Clean Code</span>, <span class="highlight">Versionierung mit Git</span> und <span class="highlight">Debugging</span> in realistischen Szenarien – mit dem Ziel, nicht nur zu verstehen, sondern <span class="highlight">professionell umzusetzen</span>.
            </p>
        </div>
        <div class="p-5 glass rechts zweite reveal">
            <h3 data-i18n="technicalPage.section4.headline4">
                erworbene Kurse:
            </h3>
            <p data-i18n="technicalPage.section4.content1">
            <span class="highlight">FullStack Web-Development</span>: <span class="highlight">React</span>, <span class="highlight">Angular</span>, <span class="highlight">JavaScript</span>, <span class="highlight">HTML</span>, <span class="highlight">CSS</span>, <span class="highlight">Node.js</span>, <span class="highlight">PostgreSQL</span>, <span class="highlight">Web3</span>, <span class="highlight">DApps</span>
            </p>
            <hr>
            <p data-i18n="technicalPage.section4.content2">
            <span class="highlight">Machine Learning & Deep Learning mit Python</span>: <span class="highlight">Numpy</span>, <span class="highlight">Pandas</span>, <span class="highlight">Matplotlib</span>, <span class="highlight">PyTorch</span>, <span class="highlight">Tensorflow</span>
            </p>
            <hr>
            <p data-i18n="technicalPage.section4.content3">
            <span class="highlight">Data Structures & Algorithms</span>, <span class="highlight">Linux-Konzepte</span>, <span class="highlight">Systemverständnis</span> auf fortgeschrittenem Level.
            </p>
        </div>
    </div>

    <div class="projects-container">
        <div class="p-5 glass reveal coni rechtsalign">
            <h3 data-i18n="technicalPage.projects.project1.title">
                Projekt 1: KI System bauen welches Daten analysieren kann (Python, Tensorflow, PyTorch)
            </h3>
            <hr>
            <p data-i18n="technicalPage.projects.project1.paragraph1">
            – Entwicklung robuster <span class="highlight">Daten-Pipelines</span> und tiefes Verständnis komplexer <span class="highlight">Machine-Learning-Modelle</span> zur Extraktion relevanter Muster aus großen, heterogenen <span class="highlight">Datensätzen</span>.
            </p>
            <hr>
            <p data-i18n="technicalPage.projects.project1.paragraph2">
            – Effiziente Nutzung von <span class="highlight">TensorFlow</span> und <span class="highlight">PyTorch</span> zur <span class="highlight">Implementierung</span>, <span class="highlight">Optimierung</span> und <span class="highlight">Validierung neuronaler Netze</span> unter Berücksichtigung von <span class="highlight">Trainingszeit</span>, <span class="highlight">Overfitting</span> und <span class="highlight">Modellgeneralität</span>.
            </p>
            <hr>
            <p data-i18n="technicalPage.projects.project1.description">
            Hier gehts zum Projekt
            </p>
            <a href="/project1tech" class="btn btn-primary disabled" role="button" data-i18n="technicalPage.projects.project1.button1">Programmierprozess</a>
            <a href="https://github.com/Roberti1902/KI-System" class="btn btn-info disabled" role="button">Github Repo</a>
            <div class="available-badge">
                <span class="status-dot"></span>
                <span class="status-text" data-i18n="technicalPage.projects.project1.badge1">Currently in work!</span>
            </div>
        </div>



        <div class="p-5 glass reveal coni rechtsalign">
            <h3 data-i18n="technicalPage.projects.project2.title">Projekt 2: Personal Web-Portfolio (CSS, HTML, JavaScript)</h3>
            <hr>
            <p data-i18n="technicalPage.projects.project2.paragraph1">
            – Technisch präzise Umsetzung eines <span class="highlight">modularen Frontends</span> mit <span class="highlight">responsivem Design</span>, <span class="highlight">component-based Architecture</span> und konsistenter <span class="highlight">UI/UX-Strategie</span>.
            </p>
            <hr>
            <p data-i18n="technicalPage.projects.project2.paragraph2">
            – Tiefer Einstieg in <span class="highlight">TypeScript-Typisierung</span> und strukturiertes <span class="highlight">State-Handling</span> zur Gewährleistung von <span class="highlight">Wartbarkeit</span> und <span class="highlight">Skalierbarkeit</span>.
            </p>
            <hr>
            <p data-i18n="technicalPage.projects.project2.description">
            Hier gehts zum Projekt
            </p>
            <a href="/project2tech" class="btn btn-primary hover-effect-5" role="button" data-i18n="technicalPage.projects.project2.button1">Programmierprozess</a>
            <a href="https://github.com/Roberti1902/WebPortfolio" class="btn btn-info hover-effect-5" role="button">Github Repo</a>
            <div class="available-badge">
                <span class="status-dot2"></span>
                <span class="status-text" data-i18n="technicalPage.projects.project2.badge1">Online!</span>
            </div>
        </div>

        <div class="p-5 glass reveal coni rechtsalign">
            <h3 data-i18n="technicalPage.projects.project3.title">Projekt 3: REST-API mit Spring Boot (Spring (-Boot), Java, JUnit, Rest)</h3>
            <hr>
            <p data-i18n="technicalPage.projects.project3.paragraph1">
            – Architektur einer <span class="highlight">REST-konformen API</span> mit durchdachtem <span class="highlight">Domain-Modell</span>, <span class="highlight">Exception-Handling</span> und persistenter <span class="highlight">Datenanbindung</span> via <span class="highlight">Spring Data JPA</span>.
            </p>
            <hr>
            <p data-i18n="technicalPage.projects.project3.paragraph2">
            – <span class="highlight">Testgetriebene Entwicklung</span> mit <span class="highlight">JUnit</span> und <span class="highlight">Integrationstests</span>, um <span class="highlight">Stabilität</span>, <span class="highlight">Fehlerresistenz</span> und saubere <span class="highlight">Schnittstellen</span> sicherzustellen.
            </p>
            <hr>
            <p data-i18n="technicalPage.projects.project3.description">
            Hier gehts zum Projekt
            </p>
            <a href="/project3tech" class="btn btn-primary disabled" role="button" data-i18n="technicalPage.projects.project3.button1">Programmierprozess</a>
            <a href="https://github.com/Roberti1902/Rest-API" class="btn btn-info disabled" role="button">Github Repo</a>
            <div class="available-badge">
                <span class="status-dot"></span>
                <span class="status-text" data-i18n="technicalPage.projects.project3.badge1">Currently in work!</span>
            </div>
        </div>
    </div>

    <div class="center-wrapper reveal">
        <div class="p-6 glass">
            <div class="container-fluid py-6">
                <h1 data-i18n="technicalPage.future.headline">
                    Jetzt
                </h1>

                <p data-i18n="technicalPage.future.paragraph5">
                    In naher Zukunft plane ich, mich intensiv mit <span class="highlight">modernen Technologien</span> und <span class="highlight">Programmiersprachen</span> auseinanderzusetzen. Dazu gehören:
                </p>

                <p data-i18n="technicalPage.future.paragraph6">
                    <span class="highlight">Rust</span>: Fokus auf <span class="highlight">Speicher-</span> und <span class="highlight">Thread-Sicherheit</span> ohne <span class="highlight">Garbage Collector</span>
                </p>

                <p data-i18n="technicalPage.future.paragraph7">
                    <span class="highlight">Golang</span>: effiziente, leichtgewichtige Sprache für <span class="highlight">skalierbare Backend-Services</span>
                </p>

                <p data-i18n="technicalPage.future.paragraph8">
                    <span class="highlight">TypeScript</span>: Superset von JavaScript mit <span class="highlight">statischer Typisierung</span> für <span class="highlight">robusten</span> und <span class="highlight">wartbaren Code</span>
                </p>

                <p data-i18n="technicalPage.future.paragraph9">
                    Darüber hinaus möchte ich mein Wissen im <span class="highlight">Cloud-Computing</span> mit <span class="highlight">Azure</span> und <span class="highlight">AWS</span> vertiefen sowie <span class="highlight">Automatisierungsframeworks</span> wie <span class="highlight">Selenium</span> erlernen.
                </p>
            </div>
        </div>
    </div>

    <div class="container footer">
        <footer class="d-flex justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                    <svg class="bi" width="30" height="24" aria-hidden="true"><use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">Robert Andreas Ionescu © 2025. All rights reserved </span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-body-secondary" href="#" aria-label="Instagram">
                        <svg class="bi" width="24" height="24" aria-hidden="true"><use xlink:href="#instagram"></use></svg>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-body-secondary" href="#" aria-label="Facebook">
                        <svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg>
                    </a>
                </li>
            </ul>
        </footer>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>